
.header {
	position: relative;
	font-size: 1.2em;
	text-align: center;
	padding: 0.4em 0;
	border-bottom: 1px solid #efefef;
}

#logo {
	display: inline-block;
	width: 28px;
	height: 28px;
	vertical-align: middle;
}

.header span{
	vertical-align: middle;
}

#catalog {
	margin: 1em 0;
	padding-left: 1em;
	font-size: 0.9em;
	color: #9b9b9b;

}

#back-btn {
	position: absolute;
	left: 5px;
	top: 13.5px;
	width: 24px;
	height: 24px;
}

#back-btn img {
	height: 100%;
	width: 100%;
}