.header {
	width: 100%;
	font-size: 0.6rem;
	text-align: center;
	padding: 0.35rem 0;
	border-bottom: 1px solid #efefef;
}

.info {
	font-size: 20px;
	padding: 15px;
}

.student-pho {
	margin-top: 15px;
	width: 100%;
}

.student-pho img {
	width: 100%;
}


.identify-btn {
	display: flex;
	justify-content: center;
	font-size: 0.5rem;
	color: #FFF;
}

#agree {
	margin: 0.6rem;
	text-align: center;
	vertical-align: middle;
	width: 80px;
	height: 40px;
	border-radius: 10px;
	line-height: 40px;
	background-color: #1AAD19;
}

#refuse {
	margin: 0.6rem;
	text-align: center;
	vertical-align: middle;
	width: 80px;
	height: 40px;
	border-radius: 10px;
	line-height: 40px;
	background-color: #E64340;
}

.reason {
	width: 100%;
	font-size: 20px;
}


#refuse-reason {
	-webkit-appearance:none;
	border: 0;
	margin-left: 10px;
	padding: 2px;
	width: 93%;
}

#remaining {
	width: 150px;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
}
