.header {
	width: 100%;
	font-size: 0.6rem;
	text-align: center;
	padding: 0.35rem 0;
	border-bottom: 1px solid #efefef;
}

.photographer-list {
	position: relative;
	margin-bottom: 2rem;

}

.photographer-list:after {
	content: " ";
	clear: both;
	display: block;
}

.photographer {
	position: relative;
    float: left;
    padding: 20px 10px;
    width: 50%;
    box-sizing: border-box;
    height: 350px;
}

.photographer .avatar {
	width: 40px;
    height: 40px;
    margin: 0 auto 0.2rem auto;
    font-size: 0;
}

.photographer .avatar img {
	width: 100%;
	height: 100%
}

.desciption {
	font-size: 14px;

}

.bottom-menu {
	width: 100%;
	height: 1rem;
	display: flex;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #C0BFC4;
	background: #F7F7FA;
	line-height: 1rem;
	padding-bottom: 0.2rem;
}
.bottom-menu-item {
	position: relative;
	display: block;
	flex:1;
	text-align: center;

}

.bottom-menu-item img {
	vertical-align: middle;
	height: 0.7rem;
}