.container {
	padding-bottom: 1rem;
}

.header {
	font-size: 0.6rem;
	text-align: center;
	padding: 0.35rem 0;
	border-bottom: 1px solid #efefef;
}

#photoer{
	position: absolute;
	right: 0.4rem;
	top: 0.48rem;
}

#photoer img{
	height: 0.7rem;
}

.btn-container {
	display: flex;
	font-size: 0.4rem;
	justify-content: center;
	margin: 0.4rem 0;
}

.btn-item {
	margin: 0 0.4rem;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 25px;
	padding: 4px;
}

.item-on {
	background: rgba(148,148,148,0.3);
}

.photo-share {
	margin-top: 0.2rem;
	padding-bottom: 0.2rem;
	box-shadow: 0 2px 10px 2px #e2e2e2;
	/* border-bottom: 1px solid #e1e1e1; */
}

.user{
	padding: 0.4rem 0 0.4rem 0.4rem;
	font-size: 0.4rem;
}


.avatar {
	border-radius: 50%;
	height: 0.8rem;
	width: 0.8rem;
	vertical-align: middle;
	margin-right: 0.25rem;
}


.dividing-line {
	color: #e1e1e1;
}

.horizontal-photo img{
	width: 100%;
	height: auto;
}

.operate {
	padding-left: 0.4rem;
	height: 1.3rem;
	border-bottom: 1px solid #efefef;
}

.love-item {
	display: inline-block;
	width: 28px;
	height: 28px;
}

.comment-icon{
	display: inline-block;
	width: 28px;
	height: 28px;
}

.operate {
	position: relative;
	bottom: 0.2rem;
}

.operate img {
	display: block;
	width: 100%;
	height: 100%;

}

.love-numbers {
	padding-left: 0.4rem;
	margin: 0.1rem 0;
	font-size: 0.35rem;
	font-weight: 600;
}

.communication {
	font-size: 0.4rem;
	padding-left: 0.4rem;
}

.author-comment {
	font-size: 0.4rem;
	padding-left: 0.4rem;
}

.author {
	font-weight: 600;	
}

/* .comment-form {
	padding: 0 0.2rem;
} */

.comment-form {
	display: none;
	padding-left: 0.35rem;
}

form {
	position: relative;
	width: 9rem;
}

input {
	position: relative;
	bottom: 0.2rem;
	height: 0.25rem;
	width: 100%;
	font-size: 0.4rem;
	padding: 0.2rem 0 0.2rem 0.2rem;

}

.vertical-photo {
	background-color: #e1e1e1;
	width: 100%;
	position: relative;
	margin-bottom: 0.3rem;
}

.vertical-photo img {
	height: 100%;
	position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
 
}

.vertical-photo::before {
	content: " ";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

#photo-submit header {
	position: relative;
	font-size: 0.6rem;
	text-align: center;
	padding: 0.35rem 0;
	border-bottom: 1px solid #efefef;
}

#share-text {
	font-size: 0.5rem;
	color: blue;
	position: absolute;
	right: 0.4rem;
	top: 0.48rem;
}


#photo-submit section {
	align-items: center;
	display: flex;
	position: relative;
	padding: 0.5rem;
	border-bottom: 1px solid #efefef;
}

#photo-submit textarea{
	outline: none;
	font-size: 0.5rem;
	padding: 0.5rem;		
	border: 0;
}


.preview-photo-container {
	justify-content: center;
	margin-left: 0.4rem;
	width: 2.2rem;
	height: 2.2rem;
}

#preview-photo {
	width: 100%;
}

#back {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
}

#back img{
	height: 0.7rem;
}

.bottom-menu {
	width: 100%;
	height: 1rem;
	display: flex;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #C0BFC4;
	background: #F7F7FA;
	line-height: 1rem;
	padding-bottom: 0.2rem;
}
.bottom-menu-item {
	position: relative;
	display: block;
	flex:1;
	text-align: center;

}

.bottom-menu-item img {
	vertical-align: middle;
	height: 0.7rem;
}


